{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/login.css') }}" rel="stylesheet"/>{% endblock %}

{% block body %}

<body class="text-center">

{% if app.user %}

    <div class="mb-3">
       Vous êtes connecté en tant que {{ app.user }}, <a href="{{ path('homePage') }}">Quitter</a>
    </div>

{% else %}

<form method="post" class="form-signin">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>
    <label for="inputLogin">Nom d'utilisateur</label>
    <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
{% endif %}

</body>
{% endblock %}
