<form method="post" action="{{ path('command_delete', {'id': command.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet element ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ command.id) }}">
    <button class="btn  btn-danger">Supprimer</button>
</form>
