{% extends 'base.html.twig' %}

{% block title %}Modifier la commande{% endblock %}

{% block body %}
    <h1>Modifier la commande</h1>

    {{ include('command/_form.html.twig', {'button_label': 'Update'}) }}
</br>
    <a href="{{ path('command_index') }}"><button class="btn btn-primary">Retour</button></a>
</br>
    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
