{% extends 'base.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
    <h1>Listes des commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Facture</th>
                <th>Date de commande</th>
                <th>Date de livraison</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.bill }}</td>
                <td>{{ command.commandDate ? command.commandDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ command.deliveryDate ? command.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('command_show', {'id': command.id}) }}">Afficher</a>
                    <a href="{{ path('command_edit', {'id': command.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'y a aucune commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('command_new') }}">Create new</a>
{% endblock %}
