{% extends 'base.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
    <h1>Créer une nouvelle commande</h1>

    {{ include('command/_form.html.twig') }}

    <a href="{{ path('command_index') }}">Retour</a>
{% endblock %}
