{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>Bill</th>
                <td>{{ command.bill }}</td>
            </tr>
            <tr>
                <th>CommandDate</th>
                <td>{{ command.commandDate ? command.commandDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeliveryDate</th>
                <td>{{ command.deliveryDate ? command.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('command_index') }}"><button class="btn btn-primary">Retour</button></a>

    <a href="{{ path('command_edit', {'id': command.id}) }}"><button class="btn btn-primary">Modifier</button></a>
</br></br>
    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
