{% extends 'base.html.twig' %}

{% block title %}Modifier la réservation{% endblock %}

{% block body %}
    <h1>Modifier la réservation :</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
    </br>   
    <a href="{{ path('reservationHomePage') }}"><button class="btn btn-primary">Retour</button></a>
    </br>    </br>
    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
