{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <h1>Réservations :</h1>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(reservations) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Client</th>
                <th>Emplacement</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Prix</th>
                <th>Commentaire</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.person.firstName }} {{ reservation.person.lastName }}</td>
                <td>{{ reservation.spot.id }}</td>
                <td>{{ reservation.startDate ? reservation.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.price }}</td>
                <td>{{ reservation.comment }}</td>
                <td>
                    <a href="{{ path('reservation_show', {'id': reservation.id}) }}">Afficher</a>
                    <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a aucune réservation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation_new') }}"><button class="btn btn-primary">Créer une nouvelle réservation</button></a>
{% endblock %}
