{% extends 'base.html.twig' %}

{% block title %}Créer une réservation{% endblock %}

{% block body %}
    <h1>Créer une réservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </br>

    <a href="{{ path('reservationHomePage') }}"><button class="btn btn-primary">Retour</button></a>
{% endblock %}
