<h1>Réservation N°{{ reservation.id }}</h1>
<table class="table">
	<tbody>
		<tr>
			<th>Client</th>
			<td>{{ reservation.person.firstName }}
				{{ reservation.person.lastName }}</td>
		</tr>
		<tr>
			<th>Emplacement</th>
			<td>{{ reservation.spot.id }}</td>
		</tr>
		<tr>
			<th>Date de début</th>
			<td>{{ reservation.startDate ? reservation.startDate|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>Date de fin</th>
			<td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>Prix</th>
			<td>{{ reservation.price }}</td>
		</tr>
		<tr>
			<th>Commentaire</th>
			<td>{{ reservation.comment }}</td>
		</tr>
	</tbody>
</table>
