{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <h1>Réservation N°{{ reservation.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Client</th>
                <td>{{ reservation.person.firstName }} {{ reservation.person.lastName }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ reservation.spot.id }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ reservation.startDate ? reservation.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ reservation.endDate ? reservation.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ reservation.price }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ reservation.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a style="padding-right: 5px;" href="{{ path('reservationHomePage') }}"><button class="btn btn-primary">Retour</button></a>
    <a style="padding-right: 5px;" href="{{ path('reservation_edit', {'id': reservation.id}) }}"><button class="btn btn-primary">Modifier</button></a>
    <a href="{{ path('reservation_pdf', {'id': reservation.id}) }}"><button class="btn btn-primary">PDF</button></a>

    </br></br>

    {{ include('reservation/_delete_form.html.twig') }}

{% endblock %}
