{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}

<div id="div_chart"></div>
<div id="div_chart_1"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    {{ gc_draw(reservation, 'div_chart') }}
    {{ gc_draw(produit, 'div_chart_1') }}
</script>

{% endblock %}