<form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette tâche ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn  btn-danger">Supprimer</button>
</form>
