{% extends 'base.html.twig' %}

{% block title %}Modifier la tâche{% endblock %}

{% block body %}
    <h1>Modifier la tâche</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    </br>

    <a href="{{ path('task_index') }}"><button class="btn btn-primary">Retour</button></a>

    </br>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
