{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <h1>Liste des tâches</h1>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(tasks) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Etat</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Utilisateurs concerné</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.description }}</td>
                <td>
                {% if task.state == 0 %}
                <p>A faire</p>
                {% elseif task.state == 1 %}
                <p>En cours</p>
                {% elseif task.state == 2 %}
                <p>Faite</p>
                {% else %}
                <p>Aucun</p>
                {% endif %}
                </td>
                <td>{{ task.startDate ? task.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.endDate ? task.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                {% for user in task.user %}
                {{ user.person.lastName }} {{ user.person.firstName }}</br>
                {% else %}
                Aucun
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">Afficher</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a aucune tâche</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}">Créer une tâche</a>
{% endblock %}
