{% extends 'base.html.twig' %}

{% block title %}Tâche{% endblock %}

{% block body %}
    <h1>Tâche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ task.state }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ task.startDate ? task.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ task.endDate ? task.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}"><button class="btn btn-primary">Retour</button></a>

    <a href="{{ path('task_edit', {'id': task.id}) }}"><button class="btn btn-primary">Modifier</button></a>

    </br>    </br>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
