{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}
  </br>
    <a href="{{ path('product_index') }}"><button class="btn btn-primary">Retour</button></a>
  </br></br>
    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
