{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(products) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th>Vendu le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.soldTo ? product.soldTo|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Afficher</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <tr>
            <td> <a class="btn btn-primary" href="{{ path('product_new') }}">Ajouter nouveau produit</a> </td>
        </tr>
    </table>

{% endblock %}
