{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>
    <div class="container w-25">
    {{ include('product/_form.html.twig') }}
    </div>

    <a href="{{ path('product_index') }}">Retour</a>
{% endblock %}
