{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Vendu le</th>
                <td>{{ product.soldTo ? product.soldTo|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}"><button class="btn btn-primary">Retour</button></a>

    <a href="{{ path('product_edit', {'id': product.id}) }}"><button class="btn btn-primary">Modifier</button></a>

    <a href="{{ path('product_pdf', {'id': product.id}) }}"><button class="btn btn-primary">PDF</button></a>

    </br></br>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
