<h1>Produit N°{{ product.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }} euros</td>
            </tr>
            <tr>
                <th>Vendu le</th>
                <td>{{ product.soldTo ? product.soldTo|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>