{% extends 'base.html.twig' %}

{% block title %}Modifier Incident{% endblock %}

{% block body %}
    <h1>Modifier Incident</h1>

    {{ include('incident/_form.html.twig', {'button_label': 'Sauvegarde'}) }}
</br>
    <a href="{{ path('incident_index') }}"><button class="btn btn-primary">Retour a la liste</button></a>
</br>
    {{ include('incident/_delete_form.html.twig') }}
{% endblock %}
