{% extends 'base.html.twig' %}

{% block title %}Liste des incidents{% endblock %}

{% block body %}
    <h1>Liste des incidents</h1>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(incidents) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Commentaire</th>
                <th>Importance</th>
                <th>Date</th>
                <th>Modification</th>
            </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
            <tr>
                <td>{{ incident.id }}</td>
                <td>{{ incident.comment }}</td>
                <td>{{ incident.important }}</td>
                <td>{{ incident.date ? incident.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('incident_show', {'id': incident.id}) }}">afficher</a>
                    <a href="{{ path('incident_edit', {'id': incident.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'incident</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('incident_new') }}">Créer un incident</a>
{% endblock %}
