{% extends 'base.html.twig' %}

{% block title %}Nouvel Incident{% endblock %}

{% block body %}
    <h1>Créer un nouvel Incident</h1>

    {{ include('incident/_form.html.twig') }}

    <a href="{{ path('incident_index') }}">Retour a la liste</a>
{% endblock %}
