{% extends 'base.html.twig' %}

{% block title %}Incident{% endblock %}

{% block body %}
    <h1>Incident N°{{ incident.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ incident.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ incident.comment }}</td>
            </tr>
            <tr>
                <th>Importance</th>
                <td>{{ incident.important }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ incident.date ? incident.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('incident_index') }}"><button class="btn btn-primary">Retour a la liste</button></a>

    <a href="{{ path('incident_edit', {'id': incident.id}) }}"><button class="btn btn-primary">Modifier</button></a>
</br></br>
    {{ include('incident/_delete_form.html.twig') }}
{% endblock %}
