<form method="post" action="{{ path('person_delete', {'id': person.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce client ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button class="btn  btn-danger">Supprimer</button>
</form>
