{% extends 'base.html.twig' %}

{% block title %}
{% if client %}
Modifier un client
{% else %}
Modifier un stagiaire
{% endif %}
{% endblock %}

{% block body %}

    {% if client %}
    <h1>Modifier un client :</h1>
    {% else %}
    <h1>Modifier un stagiaire :</h1>
    {% endif %}

    </br>

    {{ include('person/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
</br>
    {% if client %}
    <a href="{{ path('clientHomePage') }}"><button class="btn btn-primary">Retour au panel client</button></a>
    {% else %}
    <a href="{{ path('user_interns_index') }}"><button class="btn btn-primary">Retour au panel stagiaire</button></a>
    {% endif %}
</br></br>
    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
