{% extends 'base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}

    {% if client %}
        <h1>Clients :</h1>
    {% else %}
        <h1>Stagiaires :</h1>
    {% endif %}

    <hr>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(persons) }}
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Date de naissance</th>
            {% if client %}
                <th>Note</th>
            {% else %}
                <th>IBAN</th>
                <th>NIR</th>
            {% endif %}
            <th>Edition</th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.address }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.birthDate|date('d/m/Y') }}</td>
                {% if client %}
                    <td>{{ person.note ? person.note : 'NN' }}</td>
                {% else %}
                    <td>{{ person.iban }}</td>
                    <td>{{ person.secuNum }}</td>
                {% endif %}
                {% if client %}
                    <td>
                        <a href="{{ path('person_show', {'id': person.id}) }}">Afficher</a>
                        <a href="{{ path('person_edit', {'id': person.id}) }}">Modifier</a>
                    </td>
                {% elseif workPeriod is defined %}
                    <td>
                        <a href="{{ path('work_period_person_show', {'id': person.id}) }}">Afficher periode</a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ path('person_show_interns', {'id': person.id}) }}">Afficher</a>
                        <a href="{{ path('person_edit_interns', {'id': person.id}) }}">Modifier</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                {% if client %}
                    <td colspan="8">Il n'y a aucun client</td>
                {% else %}
                    <td colspan="8">Il n'y a aucun stagiaire</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if client %}
        <a href="{{ path('person_new_client') }}">Créer un nouveau client</a>
    {% else %}
        <a href="{{ path('person_new_interns') }}">Créer un nouveau stagiaire</a>
    {% endif %}


{% endblock %}
