{% extends 'base.html.twig' %}

{% block title %}Ajouter Client{% endblock %}

{% block body %}

    {% if client %}
    <h1>Ajouter un client</h1>
    {% else %}
    <h1>Ajouter un Stagiaire</h1>
    {% endif %}

    </br>

    {{ include('person/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {% if client %}
    <a href="{{ path('clientHomePage') }}">Retour</a>
    {% else %}
    <a href="{{ path('internsHomePage') }}">Retour</a>
    {% endif %}

{% endblock %}
