{% extends 'base.html.twig' %}

{% block title %}Rechercher Client{% endblock %}

{% block body %}

    <h1>Rechercher un client</h1>

    {{ form_start(form, {'action': path('person_search')}) }}

    {{ form_end(form) }}

    <a href="{{ path('person_search') }}">Retour au panel client</a>

{% endblock %}