{% extends 'base.html.twig' %}

{% block title %}
{% if client %}
Clients
{% else %}
Stagiaires
{% endif %}
{% endblock %}

{% block body %}

    {% if client %}
    <h1>Client N°{{ person.id }}</h1>
    {% else %}
    <h1>Stagiaire N°{{ person.id }}</h1>
    {% endif %}

    </br>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ person.address }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ person.birthDate ? person.birthDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ person.phone }}</td>
            </tr>

            {% if client %}

            <tr>
                <th>Note</th>
                <td>{{ person.note }}</td>
            </tr>

            {% else %}
    
            <tr>
                <th>IBAN</th>
                <td>{{ person.iban }}</td>
            </tr>
            <tr>
                <th>Numéro sécurité sociale</th>
                <td>{{ person.getSecuNum }}</td>
            </tr>

            {% endif %}

        </tbody>
    </table>

    </br>

    {% if client %}
    {% if reservation %}

    <h1>Réservation du client N°{{ person.id }}</h1>

    </br>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for r in reservation %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.startDate ? r.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ r.endDate ? r.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <h1>Pas de réservation</h1>
    {% endif %}
    {% endif %}

    </br>

    {% if client %}
    <a href="{{ path('clientHomePage') }}"><button class="btn btn-primary">Retour au panel client</button></a>
    {% else %}
    <a href="{{ path('user_interns_index') }}"><button class="btn btn-primary">Retour au panel stagiaire</button></a>
    {% endif %}

    <a href="{{ path('person_edit', {'id': person.id}) }}"><button class="btn btn-primary">Modifier</button></a>
  </br>  </br>
    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
