<form method="post" action="{{ path('config_variable_delete', {'id': config_variable.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet element ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ config_variable.id) }}">
    <button class="btn  btn-danger">Supprimer</button>
</form>
