{% extends 'base.html.twig' %}

{% block title %}Modifier variable{% endblock %}

{% block body %}
    <h1>Editer => {{ config_variable.name }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.value) }}
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('config_variable_index') }}">Retour</a>
{% endblock %}
