{% extends 'base.html.twig' %}

{% block title %}Liste des variables{% endblock %}

{% block body %}
    <div style="display: flex;justify-content: space-between;">
        <h1>Liste des variables</h1>
        <form action="{{ path('config_variable_reset') }}">
            <input type="submit" class="btn btn-danger" value="Réinitialiser"/>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Valeur</th>
                <th>Mis a jour le</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
        {% for config_variable in config_variables %}
            <tr>
                <td>{{ config_variable.name }}</td>
                <td>{{ config_variable.value }}</td>
                <td>{{ config_variable.updatedAt ? config_variable.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('config_variable_show', {'id': config_variable.id}) }}">Afficher</a>
                    <a href="{{ path('config_variable_edit', {'id': config_variable.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de variable</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
