{% extends 'base.html.twig' %}

{% block title %}New ConfigVariable{% endblock %}

{% block body %}
    <h1>Create new ConfigVariable</h1>

    {{ include('config_variable/_form.html.twig') }}

    <a href="{{ path('config_variable_index') }}">Retour</a>
{% endblock %}
