{% extends 'base.html.twig' %}

{% block title %}Variable {{ config_variable.name }}{% endblock %}

{% block body %}
    <h1>Variable {{ config_variable.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ config_variable.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ config_variable.name }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ config_variable.value }}</td>
            </tr>
            <tr>
                <th>Mis a jour le</th>
                <td>{{ config_variable.updatedAt ? config_variable.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('config_variable_index') }}">Retour</a>

    <a href="{{ path('config_variable_edit', {'id': config_variable.id}) }}">Modifier</a>

    {{ include('config_variable/_delete_form.html.twig') }}
{% endblock %}
