<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #348abf;">

    {% if app.user %}

    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

        <a class="navbar-brand" href="{{ path('homePage') }}">Camping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == path('homePage') %}active{% endif %}" href="{{ path('homePage') }}">Page d'accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == path('clientHomePage') %}active{% endif %}" href="{{ path('clientHomePage') }}">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == path('reservationHomePage') %}active{% endif %}" href="{{ path('reservationHomePage') }}">Réservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == path('spotPage') %}active{% endif %}" href="{{ path('spotPage') }}">Emplacements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == path('stat_index') %}active{% endif %}" href="{{ path('stat_index') }}">Statistiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if currentPath == path('product_index') %}active{% endif %}" href="{{ path('product_index') }}">Stocks</a>
                </li>

                {% if app.user.isAdmin %}

                    <li class="nav-item">
                        <a class="nav-link {% if currentPath == path('internsHomePage') %}active{% endif %}" href="{{ path('internsHomePage') }}">Stagiaires</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link {% if currentPath == path('work_period_person_show', {'id': app.user.id}) %}active{% endif %}" href="{{ path('work_period_person_show', {'id': app.user.id} ) }}">Mes heures</a>
                    </li>

                {% endif %}

            </ul>
        </div>

        {% if app.user.isAdmin %}

        <a href="{{ path('config_variable_index') }}"><i class="material-icons" style="color: white; padding: 10px">settings</i></a>

        {% endif %}

        <span class="navbar-text">
    Vous êtes connecté en tant que : {{ app.user }} 
    <a href="{{ path('app_logout') }}"><i class="material-icons">launch</i></a>
  </span>

    {% else %}

        <span class="navbar-text">
    Vous n'êtes pas connecté
  </span>

    {% endif %}
</nav>
