{% extends 'base.html.twig' %}

{% block title %}Not found{% endblock %}

{% block body %}
    <body class="text-center">
    <img src="https://fr.seaicons.com/wp-content/uploads/2015/10/Error-404Window-icon.png"/>
    </body>
{% endblock %}