{% block stylesheets %}
<style>
#icon {
  font-size: 150px;
}

#button{
    background-color: #348abf;
    width: 200px;
    height: 260px;
    margin: 10px;
}
.vertical-center {
  min-height: 90%;
  min-height: 90vh;

  display: flex;
  align-items: center;
}

</style>
{% endblock %}

<div class="jumbotron vertical-center"> 
<div  class="container">
    <div class="row align-items-center justify-content-center">
        {% for b in buttons %}
            <div class="col-md-auto" id="colo">
                <a id="button" href="{{ b.link }}" class="btn btn-primary btn-lg" role="button">
                        <i id="icon" class="material-icons">{{ b.icon }}</i>
                        <br/>
                        {{ b.name }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
</div>