{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

    <h1>Liste des activités</h1>

    </br>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(histories) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Utilisateur</th>
            </tr>
        </thead>
        <tbody>
        {% for h in histories %}
            <tr>
                <td>{{ h.date|date('Y-m-d H:i:s') }}</td>
                <td>{{ h.description }}</td>
                <td>{{ h.user.person.lastName }} {{ h.user.person.firstName }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'y a aucune historique</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
