<form method="post" action="{{ path('work_period_delete', {'id': work_period.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet element ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work_period.id) }}">
    <button class="btn">Supprimer</button>
</form>
