{% extends 'base.html.twig' %}

{% block title %}Modifier periode de travail{% endblock %}

{% block body %}
    <h1>Modifier periode de travail</h1>

    {{ include('work_period/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('work_period_index') }}"><button class="btn btn-primary">Retour a la liste</button></a>

    </br>

    {{ include('work_period/_delete_form.html.twig') }}
{% endblock %}
