{% extends 'base.html.twig' %}

{% block title %}WorkPeriod index{% endblock %}

{% block body %}
    <h1>Periode de travail {% if person is defined %}pour stagiaire N°{{ person.id }}{% endif %}</h1>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(work_periods) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                {% if person is defined  %}
                {% else %}
                <th>Personne</th>
                {% endif %}
                <th>Numero</th>
                <th>Date</th>
                <th>Heure de départ</th>
                <th>Heure de pause</th>
                <th>Heure de reprise</th>
                <th>Heure de fin</th>
                {% if app.user.isAdmin %}
                <th>Edition</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for work_period in work_periods %}
            <tr>
                {% if person is defined  %}
                {% else %}
                <th>{{ work_period.person.lastName }} {{ work_period.person.firstName }}</th>
                {% endif %}
                <td>{{ work_period.id }}</td>
                <td>{{ work_period.date ? work_period.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ work_period.startHour }}</td>
                <td>{{ work_period.pauseHour }}</td>
                <td>{{ work_period.resumeHour }}</td>
                <td>{{ work_period.endHour }}</td>
                {% if app.user.isAdmin %}
                <td>
                    <a href="{{ path('work_period_show', {'id': work_period.id}) }}">Affiche</a>
                    <a href="{{ path('work_period_edit', {'id': work_period.id}) }}">Edition</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de periode</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('work_period_new') }}">Créer une nouvelle periode de travail</a>
{% endblock %}
