{% extends 'base.html.twig' %}

{% block title %}Créer une periode de travail{% endblock %}

{% block body %}
    <h1>Créer une periode de travail</h1>

    {{ include('work_period/_form.html.twig') }}

    <a href="{{ path('work_period_index') }}">Retour a la liste</a>
{% endblock %}
