{% extends 'base.html.twig' %}

{% block title %}Periode de travail N°{{ work_period.id }}{% endblock %}

{% block body %}
    <h1>Periode de travail N°{{ work_period.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ work_period.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ work_period.date ? work_period.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure de départ</th>
                <td>{{ work_period.startHour }}</td>
            </tr>
            <tr>
                <th>Heure de pause</th>
                <td>{{ work_period.pauseHour }}</td>
            </tr>
            <tr>
                <th>Heure de reprise</th>
                <td>{{ work_period.resumeHour }}</td>
            </tr>
            <tr>
                <th>Heure de fin</th>
                <td>{{ work_period.endHour }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('work_period_index') }}"><button class="btn btn-primary">Retour a la liste</button></a>

    <a href="{{ path('work_period_edit', {'id': work_period.id}) }}"><button class="btn btn-primary">Modifier</button></a>

    </br></br>

    {{ include('work_period/_delete_form.html.twig') }}
{% endblock %}
