<form method="post" action="{{ path('spot_delete', {'id': spot.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet emplacement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ spot.id) }}">
    <button style="margin-left:100px; margin-top:5px;" class="btn btn-danger">Supprimer</button>
</form>
