        <script>
            var map;
            function GetMap(){           
                map = new Microsoft.Maps.Map('#myMap', {
                    center: new Microsoft.Maps.Location(44.896, -0.583),
                     zoom: 17
                });
            } 
        </script>
<div id="myMap" style="position:relative;width:600px;height:600px;"></div>