{% extends 'base.html.twig' %}

{% block title %}
Modifier l'emplacement
{% endblock %}

{% block body %}


	<h1 style="margin-left:20px;">Modifier l'emplacement</h1>
	<div id="locations" data-is-test="{{ locations|json_encode }}"></div>
	<div id="currentLocation" data-is-test="{{ currentLocation|json_encode }}"></div>
	<div style="display: grid;grid-template-columns: repeat(2, 1fr); grid-gap: 8px;">
	<div>
		{{ include('spot/_form.html.twig', {'button_label': 'Modifier'}) }}
		{{ include('spot/_delete_form.html.twig') }}
		<a type="button" class="btn btn-outline-primary" href="/spot/" style="margin-top:50px; margin-left:20px;" >Retour</a>
	</div>
	<div>
	{{ include('spot/bingMaps.html.twig') }}
		<script>
			var id;
			window.onload = function() {
				var locationRaw = $('#currentLocation').data("isTest");
			    var location = new Microsoft.Maps.Location(locationRaw[0][1], locationRaw[0][0]);
				id = locationRaw[0][2];
				console.log(locationRaw[0][2]);
				var pin = new Microsoft.Maps.Pushpin(location);
                var placed = true;  
			    Microsoft.Maps.Events.addHandler(map, 'click', function (e) {
						for (var i = map.entities.getLength() - 1; i >= 0; i--) {
                        	var pushpin = map.entities.get(i);
                        	if (pushpin instanceof Microsoft.Maps.Pushpin && pushpin.getText() == id ) {
                            	map.entities.removeAt(i);
                        	}
						}
                        pin = new Microsoft.Maps.Pushpin(e.location, {
                       		color: "blue",
							text: ""+id
                   		});
                        map.entities.push(pin);
                         $('#spot_longitude').val(e.location.longitude);
                         $('#spot_latitude').val(e.location.latitude);
                        
                });
                loadPins();
				SelectPinById();
			}
			function loadPins() {
				var locations = $('#locations').data("isTest");
				locations.forEach(element => {
					var location = new Microsoft.Maps.Location(element[1], element[0]);
					var pin = new Microsoft.Maps.Pushpin(location, {
                       	text: ""+element[2]
                   	});
					map.entities.push(pin);
				});
			}
			function SelectPinById() {
                for (var i = map.entities.getLength() - 1; i >= 0; i--) {
            		var pushpin = map.entities.get(i);
					console.log(id);
                    if (pushpin instanceof Microsoft.Maps.Pushpin && pushpin.getText() == id) {
                        var pin = new Microsoft.Maps.Pushpin(pushpin.getLocation(), {
                            color: 'blue',
                            text: ""+id
                        });
                        map.entities.removeAt(i);
                        map.entities.push(pin);
                    }
                }
            }
			</script>
		</div>
	</div>

{% endblock %}
