{% extends 'base.html.twig' %}

{% block title %}Liste des emplacements{% endblock %}

{% block body %}
    <h1 style="padding-left: 10px;">Liste des emplacements</h1>
    <div id="locations" data-is-test="{{ locations|json_encode }}"></div>
    <div style="display: grid;grid-template-columns: repeat(2, 1fr); grid-gap: 20px;">
	<div style="padding-left: 25px;">

    <table class="table" id="spotsTable">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Taille</th>
                <th>Ombragé</th>
                <th>Accessibilité handicap</th>
                <th>Electricité</th>
                <th>Capacité maximale</th>
                <th>Salle de bain</th>
                <th>Toilettes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spot in spots %}
            <tr>
                <td>{{ spot.id }}</td>
                <td>{{ spot.comment }}</td>
                <td>{{ spot.size }}</td>
                <td>{{ spot.hasShade ? 'Oui' : 'Non' }}</td>
                <td>{{ spot.handicapFriendly ? 'Oui' : 'Non' }}</td>
                <td>{{ spot.hasElectricity ? 'Oui' : 'Non' }}</td>
                <td>{{ spot.maxCapacity }}</td>
                <td>{{ spot.hasBathroom ? 'Oui' : 'Non' }}</td>
                <td>{{ spot.hasToilet ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('spot_show', {'id': spot.id}) }}">Afficher</a>
                    <a href="{{ path('spot_edit', {'id': spot.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Il n'y a aucun emplacement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div style="margin-top: 150px;">
	{{ include('spot/bingMaps.html.twig') }}
		<script>
        var selectedPin;
			window.onload = function() {
                loadPins();
                tableEvent();
			}
			function loadPins() {
				var locations = $('#locations').data("isTest");
				locations.forEach(element => {
					var location = new Microsoft.Maps.Location(element[1], element[0]);
					var pin = new Microsoft.Maps.Pushpin(location, {
                        text: ""+element[2]
                     });
					map.entities.push(pin);
				});
			}
            function tableEvent() {
                var table = document.getElementById("spotsTable");
                if (table != null) {
                    for (var i = 0; i < table.rows.length; i++) {
                            table.rows[i].onclick = function () {
                                           console.log("clique");
                            SelectPinById(this.cells[0].innerHTML);
                            };
                    }
                }
            }
            function SelectPinById(id) {
                if(typeof selectedPin !== 'undefined' && selectedPin.getText() == id) {
                    return;
                }
                if(typeof selectedPin !== 'undefined' ){
                    unselectedPin = new Microsoft.Maps.Pushpin(selectedPin.getLocation(), {
                        text: selectedPin.getText()
                    });
                    map.entities.remove(selectedPin);
                }
                for (var i = map.entities.getLength() - 1; i >= 0; i--) {
                        var pushpin = map.entities.get(i);
                        var unselectedPin;
                        if (pushpin instanceof Microsoft.Maps.Pushpin && pushpin.getText() == id) {
                            var pin = new Microsoft.Maps.Pushpin(pushpin.getLocation(), {
                                color: 'blue',
                                text: id
                            });
                            selectedPin = pin;
                            map.entities.removeAt(i);
                            map.entities.push(pin);
                            if(typeof unselectedPin !== 'undefined' ){
                                map.entities.push(unselectedPin);
                            }
                        }
                    }
            }
			</script>
		</div>
	</div>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(spots) }}
    </div>
<a style="padding-left: 10px;" href="{{ path('spot_new') }}">Créer un emplacement</a>
{% endblock %}
