{% extends 'base.html.twig' %}

{% block title %}Nouvel emplacement
{% endblock %}

{% block body %}
	<h1 style="margin-left:20px;">Nouvel emplacement</h1>
	<div id="test" data-is-test="{{ locations|json_encode }}"></div>
	{% for message in app.flashes('success') %}
    	<div class="alert alert-success">
        	{{ message }}
    	</div>
	{% endfor %}
	<div style="display: grid;grid-template-columns: repeat(2, 1fr); grid-gap: 8px;">
		<div>
			{{ include('spot/_form.html.twig') }}
		</div>
		<div>
			{{ include('spot/bingMaps.html.twig') }}
			<script>
			window.onload = function() {
			    var pin;
			    Microsoft.Maps.Events.addHandler(map, 'click', function (e) {
					for (var i = map.entities.getLength() - 1; i >= 0; i--) {
                        var pushpin = map.entities.get(i);
                        if (pushpin instanceof Microsoft.Maps.Pushpin && pushpin === pin ) {
                            map.entities.removeAt(i);
                        }
                    }
					pin = new Microsoft.Maps.Pushpin(e.location, {
                       		color: "blue",
                   		});
					map.entities.push(pin);
					$('#spot_longitude').val(e.location.longitude);
					$('#spot_latitude').val(e.location.latitude);
                });
                loadPins();
			}
				function loadPins() {
					var locations = $('#test').data("isTest");
					locations.forEach(element => {
						var location = new Microsoft.Maps.Location(element[1], element[0]);
						var pin = new Microsoft.Maps.Pushpin(location, {
                        	text: ""+element[2]
                     	});
						map.entities.push(pin);
					});
				}
			</script>
		</div>
	</div>
	<a class="btn btn-outline-primary" href="/spot/" style="margin-top:50px; margin-left:20px;">Retour</a>
{% endblock %}
