{% extends 'base.html.twig' %}

{% block title %}Emplacement
{% endblock %}

{% block body %}
	<h1>Emplacement</h1>

	<div id="locations" data-is-test="{{ locations|json_encode }}"></div>
	<div id="currentLocation" data-is-test="{{ currentLocation|json_encode }}"></div>
	<div style="display: grid;grid-template-columns: repeat(2, 1fr);">
		<div>
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ spot.id }}</td>
					</tr>
					<tr>
						<th>Est réservé</th>
						<td>{{ spot.isReserved ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Est disponible</th>
						<td>{{ spot.isAvailable ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Commentaire</th>
						<td>{{ spot.comment }}</td>
					</tr>
					<tr>
						<th>Taille</th>
						<td>{{ spot.size }}</td>
					</tr>
					<tr>
						<th>Ombragé</th>
						<td>{{ spot.hasShade ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Accessibilité handicap</th>
						<td>{{ spot.handicapFriendly ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Electricité</th>
						<td>{{ spot.hasElectricity ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Capacité maximale</th>
						<td>{{ spot.maxCapacity }}</td>
					</tr>
					<tr>
						<th>Salle de bain</th>
						<td>{{ spot.hasBathroom ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Toilettes</th>
						<td>{{ spot.hasToilet ? 'Oui' : 'Non' }}</td>
					</tr>
				</tbody>
			</table>
    </div>
        <div style="margin-left: 100px;">
			{{ include('spot/bingMaps.html.twig') }}
			<script>
				var id;
                window.onload = function () {
                    var locationRaw = $('#currentLocation').data("isTest");
                    var location = new Microsoft.Maps.Location(locationRaw[0][1], locationRaw[0][0]);
                    id = locationRaw[0][2];
                    var pin = new Microsoft.Maps.Pushpin(location);
                    var placed = true;
                    loadPins();
                    SelectPinById();
                }
                function loadPins() {
                    var locations = $('#locations').data("isTest");
                    locations.forEach(element => {
                        var location = new Microsoft.Maps.Location(element[1], element[0]);
                        var pin = new Microsoft.Maps.Pushpin(location, {
                            text: "" + element[2]
                        });
                        map.entities.push(pin);
                    });
                }
                function SelectPinById() {
                    for (var i = map.entities.getLength() - 1; i >= 0; i--) {
                        var pushpin = map.entities.get(i);
                        if (pushpin instanceof Microsoft.Maps.Pushpin && pushpin.getText() == id) {
                            var pin = new Microsoft.Maps.Pushpin(pushpin.getLocation(), {
                                color: 'blue',
                                text: "" + id
                            });
                            map.entities.removeAt(i);
                            map.entities.push(pin);
                        }
                    }
                }
			</script>
		</div>
    </div>

			<br>
		<h1>Taches</h1>
		<table class="table">

			<thead>
				<tr>
					<th>Description</th>
					<th>Etat</th>
					<th>Date de début</th>
					<th>Date de fin</th>
					<th>Utilisateurs concerné</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					<tr>
						<td>{{ task.description }}</td>
						<td>
							{% if task.state == 0 %}
								<p>A faire</p>
							{% elseif task.state == 1 %}
								<p>En cours</p>
							{% elseif task.state == 2 %}
								<p>Faite</p>
							{% else %}
								<p>Aucun</p>
							{% endif %}
						</td>
						<td>{{ task.startDate ? task.startDate|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ task.endDate ? task.endDate|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							{% for user in task.user %}
								{{ user.person.lastName }}
								{{ user.person.firstName }}<br>
						{% else %}
							Aucun
				{% endfor %}
                        </td>
				</tr>
	{% else %}
		<tr>
			<td colspan="6">Il n'y a aucune tâche</td>
		</tr>
	{% endfor %}
    			</tbody>
            </table>
    <a style="padding-right: 10px; " href="{{ path('spotPage') }}"><button class="btn btn-primary">Retour</button></a>
    <a style="padding-right: 10px; " href="{{ path('spot_edit', {'id': spot.id}) }}"><button class="btn btn-primary">Modifier</button></a>
	    </br>    </br>
    {{ include('spot/_delete_form.html.twig') }}
    {% endblock %}
