{% extends 'base.html.twig' %}

{% block title %}Modifier session{% endblock %}

{% block body %}
    <h1>Modifier une session</h1>

    </br>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
</br>
    <a href="{{ path('user_index') }}"><button class="btn btn-primary">Retour au panel session</button></a>

    </br></br>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
