{% extends 'base.html.twig' %}

{% block title %}Créer session{% endblock %}

{% block body %}
    <h1>Créer une nouvelle session</h1>

    </br>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('internsHomePage') }}">Retour au panel stagiaire</a>
{% endblock %}
