{% extends 'base.html.twig' %}

{% block title %}Session N°{{ user.id }}{% endblock %}

{% block body %}
    <h1>Session N°{{ user.id }}</h1>

    </br>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Est administrateur</th>
                <td>{{ user.isAdmin ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}"><button class="btn btn-primary">Retour au panel session</button></a>

    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-primary">Modifier</button></a>

    </br>    </br>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
